Off Chain

In [29]:
import pandas as pd

df = pd.read_csv("C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68324 entries, 0 to 68323
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp            68324 non-null  object
 1   open                 68324 non-null  float64
 2   high                 68324 non-null  float64
 3   low                  68324 non-null  float64
 4   close                68324 non-null  float64
 5   volume               68324 non-null  float64
 6   close_time           68324 non-null  object
 7   quote_asset_volume   68324 non-null  float64
 8   num_trades           68324 non-null  int64
 9   taker_buy_base_vol   68324 non-null  float64
 10  taker_buy_quote_vol  68324 non-null  float64
 11  fundingRate          68324 non-null  float64
 12  is_futures_active    68324 non-null  int64
dtypes: float64(9), int64(2), object(2)
memory usage: 6.8+ MB

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_buy_base_vol,taker_buy_quote_vol,fundingRate,is_futures_active
0,2017-08-17 04:00:00,4261.48,4313.62,4261.32,4308.83,47.181009,2017-08-17 04:59:59.999,202366.138393,171,35.160503,150952.477943,0.0,0
1,2017-08-17 05:00:00,4308.83,4328.69,4291.37,4315.32,23.234916,2017-08-17 05:59:59.999,100304.823567,102,21.448071,92608.279728,0.0,0
2,2017-08-17 06:00:00,4330.29,4345.45,4309.37,4324.35,7.229691,2017-08-17 06:59:59.999,31282.312670,36,4.802861,20795.317224,0.0,0
3,2017-08-17 07:00:00,4316.62,4349.99,4287.41,4349.99,4.443249,2017-08-17 07:59:59.999,19241.058300,25,2.602292,11291.347015,0.0,0
4,2017-08-17 08:00:00,4333.32,4377.85,4333.32,4360.69,0.972807,2017-08-17 08:59:59.999,4239.503586,28,0.814655,3552.746817,0.0,0

In [30]:
drop = ['close_time']
df = df.drop(drop, axis=1)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68324 entries, 0 to 68323
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp            68324 non-null  object
 1   open                 68324 non-null  float64
 2   high                 68324 non-null  float64
 3   low                  68324 non-null  float64
 4   close                68324 non-null  float64
 5   volume               68324 non-null  float64
 6   quote_asset_volume   68324 non-null  float64
 7   num_trades           68324 non-null  int64
 8   taker_buy_base_vol   68324 non-null  float64
 9   taker_buy_quote_vol  68324 non-null  float64
 10  fundingRate          68324 non-null  float64
 11  is_futures_active    68324 non-null  int64
dtypes: float64(9), int64(2), object(1)
memory usage: 6.3+ MB

,timestamp,open,high,low,close,volume,quote_asset_volume,num_trades,taker_buy_base_vol,taker_buy_quote_vol,fundingRate,is_futures_active
0,2017-08-17 04:00:00,4261.48,4313.62,4261.32,4308.83,47.181009,202366.138393,171,35.160503,150952.477943,0.0,0
1,2017-08-17 05:00:00,4308.83,4328.69,4291.37,4315.32,23.234916,100304.823567,102,21.448071,92608.279728,0.0,0
2,2017-08-17 06:00:00,4330.29,4345.45,4309.37,4324.35,7.229691,31282.312670,36,4.802861,20795.317224,0.0,0
3,2017-08-17 07:00:00,4316.62,4349.99,4287.41,4349.99,4.443249,19241.058300,25,2.602292,11291.347015,0.0,0
4,2017-08-17 08:00:00,4333.32,4377.85,4333.32,4360.69,0.972807,4239.503586,28,0.814655,3552.746817,0.0,0

Fitur lengkap

In [ ]:
# import pandas as pd
# import numpy as np

# def compute_core_features(df: pd.DataFrame) -> pd.DataFrame:
#     """
#     Enhanced core features for off-chain crypto data.
#     Expects df indexed by timestamp with columns:
#       ['open','high','low','close','volume',
#        'taker_buy_base_vol','taker_buy_quote_vol',
#        'num_trades','fundingRate','is_futures_active']
#     """
#     df = df.copy()
#     raw_vars = [
#         'open','high','low','close',
#         'volume','taker_buy_base_vol','taker_buy_quote_vol',
#         'num_trades','fundingRate'
#     ]
#     # 1. Returns and diffs (1h)
#     for col in raw_vars:
#         df[f'{col}_ret1h']  = df[col].pct_change().fillna(0)
#         df[f'{col}_diff1h'] = df[col].diff().fillna(0)
#     # 2. Lag features (1h,2h,3h)
#     for col in raw_vars:
#         for lag in (1, 2, 3):
#             df[f'{col}_ret_lag{lag}h']  = df[f'{col}_ret1h'].shift(lag).fillna(0)
#             df[f'{col}_diff_lag{lag}h'] = df[f'{col}_diff1h'].shift(lag).fillna(0)
#     # 3. Intrabar features
#     df['range']      = df['high'] - df['low']
#     df['body']       = df['close'] - df['open']
#     df['body_ratio'] = df['body'] / df['range'].replace(0, np.nan)
#     # 4. Order-flow imbalance
#     df['sell_vol']    = df['volume'] - df['taker_buy_base_vol']
#     df['imbalance']   = df['taker_buy_base_vol'] - df['sell_vol']
#     df['taker_ratio'] = df['taker_buy_base_vol'] / df['volume'].replace(0, np.nan)
#     # 5. VWAP (2h,4h,24h)
#     for w in (2, 4, 24):
#         vol_sum = df['volume'].rolling(w, min_periods=1).sum().replace(0, np.nan)
#         vwap    = (df['close'] * df['volume']).rolling(w, min_periods=1).sum() / vol_sum
#         df[f'vwap_{w}h'] = vwap
#     # 6. Rolling Z-score (24h)
#     for col in raw_vars:
#         mu    = df[col].rolling(24, min_periods=1).mean()
#         sigma = df[col].rolling(24, min_periods=1).std().replace(0, np.nan)
#         df[f'{col}_z_24h'] = (df[col] - mu) / sigma
#     # 7. Cyclical calendar features
#     idx    = df.index
#     hrs    = idx.hour; dow = idx.dayofweek; months = idx.month; dom = idx.day
#     df['hour_sin']   = np.sin(2*np.pi*hrs/24);   df['hour_cos']   = np.cos(2*np.pi*hrs/24)
#     df['dow_sin']    = np.sin(2*np.pi*dow/7);    df['dow_cos']    = np.cos(2*np.pi*dow/7)
#     df['month_sin']  = np.sin(2*np.pi*months/12);df['month_cos']  = np.cos(2*np.pi*months/12)
#     df['dom_sin']    = np.sin(2*np.pi*dom/idx.days_in_month)
#     df['dom_cos']    = np.cos(2*np.pi*dom/idx.days_in_month)
#     df['is_month_end']   = idx.is_month_end.astype(int)
#     df['is_quarter_end'] = idx.is_quarter_end.astype(int)
#     # 8. Session flags (UTC)
#     df['session_asia']   = ((hrs >= 0)  & (hrs <  8)).astype(int)
#     df['session_europe'] = ((hrs >= 8)  & (hrs < 16)).astype(int)
#     df['session_us']     = ((hrs >= 16) & (hrs < 24)).astype(int)
#     return df

# def compute_ts_features(df: pd.DataFrame) -> pd.DataFrame:
#     """
#     Time-series indicators:
#       - Rolling mean/std for returns & volume (3h,6h,12h,24h)
#       - EMA & MACD (12,26,9)
#       - RSI (14h)
#       - Bollinger Bands (20h)
#     """
#     df = df.copy()
#     # Rolling stats
#     for w in (3, 6, 12, 24):
#         df[f'ret_mean_{w}h'] = df['close_ret1h'].rolling(w, min_periods=1).mean()
#         df[f'ret_std_{w}h']  = df['close_ret1h'].rolling(w, min_periods=1).std()
#         df[f'vol_mean_{w}h'] = df['volume'].rolling(w, min_periods=1).mean()
#         df[f'vol_std_{w}h']  = df['volume'].rolling(w, min_periods=1).std()
#     # EMA & MACD
#     df['ema_12']      = df['close'].ewm(span=12, adjust=False).mean()
#     df['ema_26']      = df['close'].ewm(span=26, adjust=False).mean()
#     df['macd']        = df['ema_12'] - df['ema_26']
#     df['macd_signal'] = df['macd'].ewm(span=9, adjust=False).mean()
#     # RSI (14h)
#     delta     = df['close'].diff()
#     gain      = delta.clip(lower=0)
#     loss      = -delta.clip(upper=0)
#     avg_gain  = gain.rolling(14, min_periods=1).mean()
#     avg_loss  = loss.rolling(14, min_periods=1).mean().replace(0, np.nan)
#     rs        = avg_gain / avg_loss
#     df['rsi_14'] = 100 - (100 / (1 + rs))
#     # Bollinger Bands (20h)
#     df['bb_mid']   = df['close'].rolling(20, min_periods=1).mean()
#     df['bb_std']   = df['close'].rolling(20, min_periods=1).std()
#     df['bb_upper'] = df['bb_mid'] + 2 * df['bb_std']
#     df['bb_lower'] = df['bb_mid'] - 2 * df['bb_std']
#     return df

# # —————————————————————————————————————————————
# # 1. Load off-chain data (path sudah diperbaiki)
# df = pd.read_csv(
#     "C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc.csv",
#     parse_dates=["timestamp"],
#     index_col="timestamp"
# ).sort_index()

# # 2. Compute features
# df_core     = compute_core_features(df)
# df_features = compute_ts_features(df_core)

# # 3. Save output
# df_features.to_csv(
#     "C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc2.csv",
#     index=True
# )

# print("✅ Fitur lengkap tersimpan di 'features_off_chain_full.csv'")

C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_3328\2149558716.py:52: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['dom_cos']    = np.cos(2*np.pi*dom/idx.days_in_month)
C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_3328\2149558716.py:53: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['is_month_end']   = idx.is_month_end.astype(int)
C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_3328\2149558716.py:54: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['is_quarter_end'] = idx.is_quarter_end.astype(int)
C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_3328\2149558716.py:56: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['session_asia']   = ((hrs >= 0)  & (hrs <  8)).astype(int)
C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_3328\2149558716.py:57: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['session_europe'] = ((hrs >= 8)  & (hrs < 16)).astype(int)
C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_3328\2149558716.py:58: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['session_us']     = ((hrs >= 16) & (hrs < 24)).astype(int)

✅ Fitur lengkap tersimpan di 'features_off_chain_full.csv'

Fitur Optimasi

In [4]:
import pandas as pd
import numpy as np

# 1. Load data
input_path = "C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc.csv"
df = (
    pd.read_csv(input_path, parse_dates=["timestamp"], index_col="timestamp")
      .sort_index()
)

# 2. Core returns & diffs for 'close'
df["close_ret1h"]  = df["close"].pct_change()
df["close_diff1h"] = df["close"].diff()

# 3. Lag features: only close_ret1h at 1h & 3h
for lag in (1, 3):
    df[f"close_ret_lag{lag}h"] = df["close_ret1h"].shift(lag)

# 4. Intrabar features
df["range"]      = df["high"] - df["low"]
df["body"]       = df["close"] - df["open"]
df["body_ratio"] = df["body"] / df["range"].replace(0, np.nan)

# 5. Order‐flow imbalance
df["sell_vol"]    = df["volume"] - df["taker_buy_base_vol"]
df["imbalance"]   = df["taker_buy_base_vol"] - df["sell_vol"]
df["taker_ratio"] = df["taker_buy_base_vol"] / df["volume"].replace(0, np.nan)

# 6. VWAP: only 2h & 24h
for w in (2, 24):
    vol_sum = df["volume"].rolling(w, min_periods=1).sum()
    df[f"vwap_{w}h"] = (
        (df["close"] * df["volume"]).rolling(w, min_periods=1).sum()
        / vol_sum.replace(0, np.nan)
    )

# 7. Rolling Z‐score 24h: only on key vars
for col in ("close", "volume", "num_trades"):
    mu    = df[col].rolling(24, min_periods=1).mean()
    sigma = df[col].rolling(24, min_periods=1).std()
    df[f"{col}_z_24h"] = (df[col] - mu) / sigma.replace(0, np.nan)

# 8. Calendar cyclical: hour & day‐of‐week
idx = df.index
hrs = idx.hour
dow = idx.dayofweek
df["hour_sin"] = np.sin(2 * np.pi * hrs / 24)
df["hour_cos"] = np.cos(2 * np.pi * hrs / 24)
df["dow_sin"]  = np.sin(2 * np.pi * dow / 7)
df["dow_cos"]  = np.cos(2 * np.pi * dow / 7)

# 9. Session flags (UTC)
df["session_asia"]   = ((hrs >= 0)  & (hrs <  8)).astype(int)
df["session_europe"] = ((hrs >= 8)  & (hrs < 16)).astype(int)
df["session_us"]     = ((hrs >= 16) & (hrs < 24)).astype(int)

# 10. Rolling stats windows 6h & 24h
for w in (6, 24):
    df[f"ret_mean_{w}h"] = df["close_ret1h"].rolling(w, min_periods=1).mean()
    df[f"ret_std_{w}h"]  = df["close_ret1h"].rolling(w, min_periods=1).std()
    df[f"vol_mean_{w}h"] = df["volume"].rolling(w, min_periods=1).mean()
    df[f"vol_std_{w}h"]  = df["volume"].rolling(w, min_periods=1).std()

# 11. EMA, MACD, RSI & Bollinger Bands
df["ema_12"]      = df["close"].ewm(span=12, adjust=False).mean()
df["ema_26"]      = df["close"].ewm(span=26, adjust=False).mean()
df["macd"]        = df["ema_12"] - df["ema_26"]
df["macd_signal"] = df["macd"].ewm(span=9, adjust=False).mean()

delta     = df["close"].diff()
gain      = delta.clip(lower=0)
loss      = -delta.clip(upper=0)
avg_gain  = gain.rolling(14, min_periods=1).mean()
avg_loss  = loss.rolling(14, min_periods=1).mean()
rs        = avg_gain / avg_loss.replace(0, np.nan)
df["rsi_14"] = 100 - (100 / (1 + rs))

df["bb_mid"]   = df["close"].rolling(20, min_periods=1).mean()
df["bb_std"]   = df["close"].rolling(20, min_periods=1).std()
df["bb_upper"] = df["bb_mid"] + 2 * df["bb_std"]
df["bb_lower"] = df["bb_mid"] - 2 * df["bb_std"]

# 12. Fill missing di baris awal (backward-fill), lalu fill forward untuk safety
df.fillna(method="bfill", inplace=True)
df.fillna(method="ffill", inplace=True)

# 13. Simpan hasil
output_path = "C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc2.csv"
df.to_csv(output_path)

print(f"✅ Fitur diperbarui dengan backfill & saved to:\n   {output_path}")

C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_37944\2559251376.py:84: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="bfill", inplace=True)
C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_37944\2559251376.py:85: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill", inplace=True)

✅ Fitur diperbarui dengan backfill & saved to:
   C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc2.csv

In [4]:
import pandas as pd

df = pd.read_csv("C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc2.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68324 entries, 0 to 68323
Data columns (total 52 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp            68324 non-null  object
 1   open                 68324 non-null  float64
 2   high                 68324 non-null  float64
 3   low                  68324 non-null  float64
 4   close                68324 non-null  float64
 5   volume               68324 non-null  float64
 6   close_time           68324 non-null  object
 7   quote_asset_volume   68324 non-null  float64
 8   num_trades           68324 non-null  int64
 9   taker_buy_base_vol   68324 non-null  float64
 10  taker_buy_quote_vol  68324 non-null  float64
 11  fundingRate          68324 non-null  float64
 12  is_futures_active    68324 non-null  int64
 13  close_ret1h          68324 non-null  float64
 14  close_diff1h         68324 non-null  float64
 15  close_ret_lag1h      68324 non-null  float64
 16  close_ret_lag3h      68324 non-null  float64
 17  range                68324 non-null  float64
 18  body                 68324 non-null  float64
 19  body_ratio           68324 non-null  float64
 20  sell_vol             68324 non-null  float64
 21  imbalance            68324 non-null  float64
 22  taker_ratio          68324 non-null  float64
 23  vwap_2h              68324 non-null  float64
 24  vwap_24h             68324 non-null  float64
 25  close_z_24h          68324 non-null  float64
 26  volume_z_24h         68324 non-null  float64
 27  num_trades_z_24h     68324 non-null  float64
 28  hour_sin             68324 non-null  float64
 29  hour_cos             68324 non-null  float64
 30  dow_sin              68324 non-null  float64
 31  dow_cos              68324 non-null  float64
 32  session_asia         68324 non-null  int64
 33  session_europe       68324 non-null  int64
 34  session_us           68324 non-null  int64
 35  ret_mean_6h          68324 non-null  float64
 36  ret_std_6h           68324 non-null  float64
 37  vol_mean_6h          68324 non-null  float64
 38  vol_std_6h           68324 non-null  float64
 39  ret_mean_24h         68324 non-null  float64
 40  ret_std_24h          68324 non-null  float64
 41  vol_mean_24h         68324 non-null  float64
 42  vol_std_24h          68324 non-null  float64
 43  ema_12               68324 non-null  float64
 44  ema_26               68324 non-null  float64
 45  macd                 68324 non-null  float64
 46  macd_signal          68324 non-null  float64
 47  rsi_14               68324 non-null  float64
 48  bb_mid               68324 non-null  float64
 49  bb_std               68324 non-null  float64
 50  bb_upper             68324 non-null  float64
 51  bb_lower             68324 non-null  float64
dtypes: float64(45), int64(5), object(2)
memory usage: 27.1+ MB

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_buy_base_vol,...,vol_std_24h,ema_12,ema_26,macd,macd_signal,rsi_14,bb_mid,bb_std,bb_upper,bb_lower
0,2017-08-17 04:00:00,4261.48,4313.62,4261.32,4308.83,47.181009,2017-08-17 04:59:59.999,202366.138393,171,35.160503,...,16.932445,4308.830000,4308.830000,0.000000,0.000000,82.215696,4308.830000,4.589123,4321.253246,4302.896754
1,2017-08-17 05:00:00,4308.83,4328.69,4291.37,4315.32,23.234916,2017-08-17 05:59:59.999,100304.823567,102,21.448071,...,16.932445,4309.828462,4309.310741,0.517721,0.103544,82.215696,4312.075000,4.589123,4321.253246,4302.896754
2,2017-08-17 06:00:00,4330.29,4345.45,4309.37,4324.35,7.229691,2017-08-17 06:59:59.999,31282.312670,36,4.802861,...,20.106758,4312.062544,4310.424760,1.637784,0.410392,82.215696,4316.166667,7.794564,4331.755795,4300.577538
3,2017-08-17 07:00:00,4316.62,4349.99,4287.41,4349.99,4.443249,2017-08-17 07:59:59.999,19241.058300,25,2.602292,...,19.606754,4317.897538,4313.355518,4.542019,1.236718,82.215696,4324.622500,18.069531,4360.761562,4288.483438
4,2017-08-17 08:00:00,4333.32,4377.85,4333.32,4360.69,0.972807,2017-08-17 08:59:59.999,4239.503586,28,0.814655,...,19.098546,4324.480993,4316.861776,7.619217,2.513217,82.215696,4331.836000,22.473404,4376.782808,4286.889192

In [ ]:
# import pandas as pd
# import numpy as np

# # 1. Load data (timestamp jadi index) dari file off_chain_btc2.csv
# df = pd.read_csv(
#     "C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc2.csv",
#     parse_dates=["timestamp"],
#     index_col="timestamp"
# )

# # 2. Ambil array close untuk vektorisasi
# close = df["close"].values
# n     = len(df)

# # 3. Definisikan horizon label: 1–24h plus 48h dan 72h
# horizons = list(range(1, 25))
# max_h    = max(horizons)

# # 4. Siapkan array untuk menampung label
# labels = np.empty((n, len(horizons)), dtype="<U6")  # tipe string 'up','down','stabil'

# # 5. Hitung return dan label untuk setiap horizon secara vektorisasi
# for i, h in enumerate(horizons):
#     ret = np.empty(n, dtype=float)
#     # Hitung return: (close[t+h] - close[t]) / close[t]
#     ret[:-h] = (close[h:] - close[:-h]) / close[:-h]
#     ret[-h:] = np.nan  # tidak ada future data di ujung
    
#     # Vectorized labeling
#     labels[:, i] = np.where(
#         ret >=  0.01, "up",
#         np.where(ret <= -0.01, "down", "stabil")
#     )

# # 6. Buat DataFrame untuk semua label
# label_cols = [f"label_{h}h" for h in horizons]
# df_labels  = pd.DataFrame(labels, index=df.index, columns=label_cols)

# # 7. Gabungkan labels ke df asli
# df = df.join(df_labels)

# # 8. Hapus baris NaN hanya di head/tail (max_h baris di tiap ujung)
# df = df.iloc[max_h : n - max_h]

# # 9. Simpan hasil
# df.to_csv(
#     "C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc3.csv",
#     index=True
# )

# print("✅ 26 label (1h–24h, 48h, 72h) telah dibuat dari off_chain_btc2.csv dan disimpan di off_chain_btc3.csv")

✅ 26 label (1h–24h, 48h, 72h) telah dibuat dari off_chain_btc2.csv dan disimpan di off_chain_btc3.csv

Klasifikasi

In [ ]:
# import pandas as pd
# import numpy as np

# # 1. Load data (timestamp jadi index)
# df = pd.read_csv(
#     "C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc.csv",
#     parse_dates=["timestamp"],
#     index_col="timestamp"
# )

# # 2. Ambil array close dan panjang data
# close = df["close"].values
# n     = len(df)

# # 3. Definisikan horizon untuk hourly (jam) dan daily (hari)
# hourly_horizons = [1, 2, 3, 6, 12]      # dalam satuan jam
# daily_horizons  = [1, 3, 7, 15, 30]     # dalam satuan hari

# # 4. Siapkan list nama kolom dan array kosong untuk semua label
# label_cols = [f"label_{h}h" for h in hourly_horizons] \
#            + [f"label_{d}d" for d in daily_horizons]
# labels     = np.empty((n, len(label_cols)), dtype="<U6")  # 'up','down','stabil'

# # 5. Hitung return & label untuk setiap horizon
# for idx, h in enumerate(hourly_horizons):
#     ret = np.empty(n, dtype=float)
#     ret[:-h] = (close[h:] - close[:-h]) / close[:-h]
#     ret[-h:] = np.nan
#     labels[:, idx] = np.where(
#         ret >=  0.01, "up",
#         np.where(ret <= -0.01, "down", "stabil")
#     )

# offset = len(hourly_horizons)
# for idx, d in enumerate(daily_horizons):
#     h_shift = d * 24  # konversi hari ke jam
#     ret = np.empty(n, dtype=float)
#     ret[:-h_shift] = (close[h_shift:] - close[:-h_shift]) / close[:-h_shift]
#     ret[-h_shift:] = np.nan
#     labels[:, offset + idx] = np.where(
#         ret >=  0.01, "up",
#         np.where(ret <= -0.01, "down", "stabil")
#     )

# # 6. Buat DataFrame label dan gabungkan
# df_labels = pd.DataFrame(labels, index=df.index, columns=label_cols)
# df_all    = df.join(df_labels)

# # 7. Hapus baris NaN di ujung (hingga horizon terbesar)
# max_shift = max(max(hourly_horizons), max(daily_horizons) * 24)
# df_clean  = df_all.iloc[max_shift : n - max_shift]

# # 8. Simpan hasil
# df_clean.to_csv(
#     "C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc4.csv",
#     index=True
# )

# print(f"✅ Labels untuk hourly {hourly_horizons}h dan daily {daily_horizons}d berhasil dibuat dan disimpan.")

✅ Labels untuk hourly [1, 2, 3, 6, 12]h dan daily [1, 3, 7, 15, 30]d berhasil dibuat dan disimpan.

Regresi

In [54]:
import pandas as pd
import numpy as np

# 1. Load data (timestamp jadi index)
input_path = "C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc.csv"
df = pd.read_csv(
    input_path,
    parse_dates=["timestamp"],
    index_col="timestamp"
)

# 2. Definisikan horizon untuk hourly (jam) dan daily (hari)
hourly_horizons = [1, 2, 3, 6, 12]      # dalam satuan jam
daily_horizons  = [1, 3, 7, 15, 30]     # dalam satuan hari

# 3. Buat kolom label harga untuk tiap horizon
for h in hourly_horizons:
    df[f"label_{h}h"] = df["close"].shift(-h)

for d in daily_horizons:
    shift_hours = d * 24
    df[f"label_{d}d"] = df["close"].shift(-shift_hours)

# 4. Buang baris yang label-nya NaN (akhir dataset)
label_cols = [f"label_{h}h" for h in hourly_horizons] \
           + [f"label_{d}d" for d in daily_horizons]

df_clean = df.dropna(subset=label_cols)

# 5. Simpan hasil
output_path = "C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc4.csv"
df_clean.to_csv(output_path, index=True)

print(f"✅ Label harga multi-horizon ({len(label_cols)} kolom) dibuat dengan prefix 'label_' dan disimpan di\n   {output_path}")

✅ Label harga multi-horizon (10 kolom) dibuat dengan prefix 'label_' dan disimpan di
   C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc4.csv

In [6]:
import pandas as pd

df = pd.read_csv("C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc3.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66884 entries, 0 to 66883
Data columns (total 62 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp            66884 non-null  object
 1   open                 66884 non-null  float64
 2   high                 66884 non-null  float64
 3   low                  66884 non-null  float64
 4   close                66884 non-null  float64
 5   volume               66884 non-null  float64
 6   close_time           66884 non-null  object
 7   quote_asset_volume   66884 non-null  float64
 8   num_trades           66884 non-null  int64
 9   taker_buy_base_vol   66884 non-null  float64
 10  taker_buy_quote_vol  66884 non-null  float64
 11  fundingRate          66884 non-null  float64
 12  is_futures_active    66884 non-null  int64
 13  close_ret1h          66884 non-null  float64
 14  close_diff1h         66884 non-null  float64
 15  close_ret_lag1h      66884 non-null  float64
 16  close_ret_lag3h      66884 non-null  float64
 17  range                66884 non-null  float64
 18  body                 66884 non-null  float64
 19  body_ratio           66884 non-null  float64
 20  sell_vol             66884 non-null  float64
 21  imbalance            66884 non-null  float64
 22  taker_ratio          66884 non-null  float64
 23  vwap_2h              66884 non-null  float64
 24  vwap_24h             66884 non-null  float64
 25  close_z_24h          66884 non-null  float64
 26  volume_z_24h         66884 non-null  float64
 27  num_trades_z_24h     66884 non-null  float64
 28  hour_sin             66884 non-null  float64
 29  hour_cos             66884 non-null  float64
 30  dow_sin              66884 non-null  float64
 31  dow_cos              66884 non-null  float64
 32  session_asia         66884 non-null  int64
 33  session_europe       66884 non-null  int64
 34  session_us           66884 non-null  int64
 35  ret_mean_6h          66884 non-null  float64
 36  ret_std_6h           66884 non-null  float64
 37  vol_mean_6h          66884 non-null  float64
 38  vol_std_6h           66884 non-null  float64
 39  ret_mean_24h         66884 non-null  float64
 40  ret_std_24h          66884 non-null  float64
 41  vol_mean_24h         66884 non-null  float64
 42  vol_std_24h          66884 non-null  float64
 43  ema_12               66884 non-null  float64
 44  ema_26               66884 non-null  float64
 45  macd                 66884 non-null  float64
 46  macd_signal          66884 non-null  float64
 47  rsi_14               66884 non-null  float64
 48  bb_mid               66884 non-null  float64
 49  bb_std               66884 non-null  float64
 50  bb_upper             66884 non-null  float64
 51  bb_lower             66884 non-null  float64
 52  label_1h             66884 non-null  object
 53  label_2h             66884 non-null  object
 54  label_3h             66884 non-null  object
 55  label_6h             66884 non-null  object
 56  label_12h            66884 non-null  object
 57  label_1d             66884 non-null  object
 58  label_3d             66884 non-null  object
 59  label_7d             66884 non-null  object
 60  label_15d            66884 non-null  object
 61  label_30d            66884 non-null  object
dtypes: float64(45), int64(5), object(12)
memory usage: 31.6+ MB

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_buy_base_vol,...,label_1h,label_2h,label_3h,label_6h,label_12h,label_1d,label_3d,label_7d,label_15d,label_30d
0,2017-09-16 10:00:00,3753.29,3753.29,3470.66,3480.00,175.251826,2017-09-16 10:59:59.999,627740.727773,778,58.976979,...,up,up,up,up,up,up,up,up,up,up
1,2017-09-16 11:00:00,3490.00,3678.22,3490.00,3630.06,113.728279,2017-09-16 11:59:59.999,409919.978386,475,68.053148,...,stabil,up,stabil,stabil,up,down,up,up,up,up
2,2017-09-16 12:00:00,3630.06,3667.99,3565.47,3630.00,51.172541,2017-09-16 12:59:59.999,185265.726418,347,23.788116,...,up,stabil,down,up,up,down,up,up,up,up
3,2017-09-16 13:00:00,3610.00,3729.99,3531.01,3674.98,60.480745,2017-09-16 13:59:59.999,219448.905188,413,36.841835,...,down,down,stabil,stabil,down,down,up,up,up,up
4,2017-09-16 14:00:00,3674.98,3800.00,3630.00,3630.00,58.984953,2017-09-16 14:59:59.999,218953.333668,664,14.245711,...,down,stabil,stabil,stabil,stabil,stabil,up,up,up,up

On Chain

In [ ]:
import pandas as pd

df = pd.read_csv("C:/Python/Template/Data Science/DATATHON_2025/data/on_chain/on_chain_btc.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68421 entries, 0 to 68420
Columns: 146 entries, timestamp to VtyDayRet30d
dtypes: float64(145), object(1)
memory usage: 76.2+ MB

,timestamp,AdrActCnt,AdrBal1in100KCnt,AdrBal1in100MCnt,AdrBal1in10BCnt,AdrBal1in10KCnt,AdrBal1in10MCnt,AdrBal1in1BCnt,AdrBal1in1KCnt,AdrBal1in1MCnt,...,TxTfrCnt,TxTfrValAdjNtv,TxTfrValAdjUSD,TxTfrValMeanNtv,TxTfrValMeanUSD,TxTfrValMedNtv,TxTfrValMedUSD,VelCur1yr,VtyDayRet180d,VtyDayRet30d
0,2017-08-17 04:00:00,863099.0,9648.0,1455565.0,6811294.0,928.0,415719.0,3394636.0,65.0,109740.0,...,797542.0,688159.703732,2.964948e+09,2.810758,12110.198487,0.016232,69.934122,36.545227,0.0463,0.058414
1,2017-08-17 05:00:00,863099.0,9648.0,1455565.0,6811294.0,928.0,415719.0,3394636.0,65.0,109740.0,...,797542.0,688159.703732,2.964948e+09,2.810758,12110.198487,0.016232,69.934122,36.545227,0.0463,0.058414
2,2017-08-17 06:00:00,863099.0,9648.0,1455565.0,6811294.0,928.0,415719.0,3394636.0,65.0,109740.0,...,797542.0,688159.703732,2.964948e+09,2.810758,12110.198487,0.016232,69.934122,36.545227,0.0463,0.058414
3,2017-08-17 07:00:00,863099.0,9648.0,1455565.0,6811294.0,928.0,415719.0,3394636.0,65.0,109740.0,...,797542.0,688159.703732,2.964948e+09,2.810758,12110.198487,0.016232,69.934122,36.545227,0.0463,0.058414
4,2017-08-17 08:00:00,863099.0,9648.0,1455565.0,6811294.0,928.0,415719.0,3394636.0,65.0,109740.0,...,797542.0,688159.703732,2.964948e+09,2.810758,12110.198487,0.016232,69.934122,36.545227,0.0463,0.058414

In [1]:
import pandas as pd
import os

# 1. Definisikan path input & output
input_path  = "C:/Python/Template/Data Science/DATATHON_2025/data/on_chain/on_chain_btc.csv"
output_path = os.path.join(
    os.path.dirname(input_path),
    "on_chain_btc2.csv"
)

# 2. Load data, parse timestamp
df = pd.read_csv(input_path, parse_dates=["timestamp"])

# 3. Daftar kolom yang akan dipakai
selected_cols = [
    "timestamp",
    # Network security
    "HashRate", "HashRate30d",
    # Network activity
    "AdrActCnt", "TxCnt", "TxTfrValAdjUSD",
    # Fees
    "FeeMeanUSD", "FeeTotUSD",
    # On‐chain valuation
    "CapMVRVCur", "NVTAdj",
    # Supply dynamics
    "SplyAct1d", "SplyAct7d", "SplyAct30d",
    # Issuance
    "IssContPctDay",
    # Exchange flows
    "FlowInExUSD", "FlowOutExUSD"
]

# 4. Subset DataFrame
df2 = df[selected_cols].copy()

# 5. (Optional) jadikan timestamp sebagai index
df2.set_index("timestamp", inplace=True)

# 6. Simpan ke CSV baru
df2.to_csv(output_path, index=True)

print(f"✅ File baru berisi {len(selected_cols)-1} fitur disimpan di:\n   {output_path}")

✅ File baru berisi 15 fitur disimpan di:
   C:/Python/Template/Data Science/DATATHON_2025/data/on_chain\on_chain_btc2.csv

In [6]:
import pandas as pd

df = pd.read_csv("C:/Python/Template/Data Science/DATATHON_2025/data/on_chain/on_chain_btc2.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68421 entries, 0 to 68420
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       68421 non-null  object
 1   HashRate        68421 non-null  float64
 2   HashRate30d     68421 non-null  float64
 3   AdrActCnt       68421 non-null  float64
 4   TxCnt           68421 non-null  float64
 5   TxTfrValAdjUSD  68421 non-null  float64
 6   FeeMeanUSD      68421 non-null  float64
 7   FeeTotUSD       68421 non-null  float64
 8   CapMVRVCur      68421 non-null  float64
 9   NVTAdj          68421 non-null  float64
 10  SplyAct1d       68421 non-null  float64
 11  SplyAct7d       68421 non-null  float64
 12  SplyAct30d      68421 non-null  float64
 13  IssContPctDay   68421 non-null  float64
 14  FlowInExUSD     68421 non-null  float64
 15  FlowOutExUSD    68421 non-null  float64
dtypes: float64(15), object(1)
memory usage: 8.4+ MB

,timestamp,HashRate,HashRate30d,AdrActCnt,TxCnt,TxTfrValAdjUSD,FeeMeanUSD,FeeTotUSD,CapMVRVCur,NVTAdj,SplyAct1d,SplyAct7d,SplyAct30d,IssContPctDay,FlowInExUSD,FlowOutExUSD
0,2017-08-17 04:00:00,8.215055e+06,6.511264e+06,863099.0,348484.0,2.964948e+09,4.449495,1.550578e+06,3.143492,23.995391,654870.405965,1.561015e+06,3.998236e+06,0.01355,2.594274e+08,2.763141e+08
1,2017-08-17 05:00:00,8.215055e+06,6.511264e+06,863099.0,348484.0,2.964948e+09,4.449495,1.550578e+06,3.143492,23.995391,654870.405965,1.561015e+06,3.998236e+06,0.01355,2.594274e+08,2.763141e+08
2,2017-08-17 06:00:00,8.215055e+06,6.511264e+06,863099.0,348484.0,2.964948e+09,4.449495,1.550578e+06,3.143492,23.995391,654870.405965,1.561015e+06,3.998236e+06,0.01355,2.594274e+08,2.763141e+08
3,2017-08-17 07:00:00,8.215055e+06,6.511264e+06,863099.0,348484.0,2.964948e+09,4.449495,1.550578e+06,3.143492,23.995391,654870.405965,1.561015e+06,3.998236e+06,0.01355,2.594274e+08,2.763141e+08
4,2017-08-17 08:00:00,8.215055e+06,6.511264e+06,863099.0,348484.0,2.964948e+09,4.449495,1.550578e+06,3.143492,23.995391,654870.405965,1.561015e+06,3.998236e+06,0.01355,2.594274e+08,2.763141e+08

Full fitur

In [ ]:
# import pandas as pd
# import numpy as np
# import os

# # 1. Load on-chain data (assumes you’ve already extracted to on_chain_btc2.csv)
# input_path  = "C:/Python/Template/Data Science/DATATHON_2025/data/on_chain/on_chain_btc2.csv"
# output_path = os.path.join(os.path.dirname(input_path), "on_chain_btc3.csv")

# df = (
#     pd.read_csv(input_path, parse_dates=["timestamp"], index_col="timestamp")
#       .sort_index()
# )

# # 2. Returns & diffs (1h & 24h) for key vars
# raw_vars = [
#     "HashRate","HashRate30d","AdrActCnt","TxCnt","TxTfrValAdjUSD",
#     "FeeMeanUSD","FeeTotUSD","CapMVRVCur","NVTAdj",
#     "SplyAct1d","SplyAct7d","SplyAct30d","IssContPctDay",
#     "FlowInExUSD","FlowOutExUSD"
# ]
# for col in raw_vars:
#     df[f"{col}_ret1h"]   = df[col].pct_change(1)
#     df[f"{col}_diff1h"]  = df[col].diff(1)
#     df[f"{col}_ret24h"]  = df[col].pct_change(24)
#     df[f"{col}_diff24h"] = df[col].diff(24)

# # 3. Rolling window stats (6h, 24h, 168h) for select vars
# stat_vars = ["HashRate","AdrActCnt","TxCnt","FlowInExUSD","FlowOutExUSD"]
# for col in stat_vars:
#     for w in (6, 24, 168):
#         df[f"{col}_ret_mean_{w}h"] = df[f"{col}_ret1h"].rolling(w, min_periods=1).mean()
#         df[f"{col}_ret_std_{w}h"]  = df[f"{col}_ret1h"].rolling(w, min_periods=1).std()

# # 4. Lag features for strongest predictors
# for col in ["CapMVRVCur","NVTAdj","SplyAct1d"]:
#     df[f"{col}_lag1h"]  = df[col].shift(1)
#     df[f"{col}_lag24h"] = df[col].shift(24)

# # 5. Composite & ratio features
# df["HashRate_ratio"]   = df["HashRate"] / df["HashRate30d"].replace(0, np.nan)
# df["FlowNetUSD"]       = df["FlowInExUSD"] - df["FlowOutExUSD"]
# df["FlowRatio"]        = df["FlowInExUSD"] / df["FlowOutExUSD"].replace(0, np.nan)
# df["SplyAct_spread"]   = df["SplyAct7d"] - df["SplyAct1d"]

# # 6. Z‐score (24h) for key vars
# for col in ["CapMVRVCur","NVTAdj","HashRate"]:
#     mu    = df[col].rolling(24, min_periods=1).mean()
#     sigma = df[col].rolling(24, min_periods=1).std()
#     df[f"{col}_z24h"] = (df[col] - mu) / sigma.replace(0, np.nan)

# # 7. Deseasonalize TxCnt (weekly)
# df["TxCnt_deseason7d"] = df["TxCnt"] - df["TxCnt"].rolling(168, min_periods=1).mean()

# # 8. Fill any missing from shifts/rolling
# df.fillna(method="bfill", inplace=True)
# df.fillna(method="ffill", inplace=True)

# # 9. Save to new CSV
# df.to_csv(output_path, index=True)
# print(f"✅ On-chain features created and saved to:\n   {output_path}")

C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_37944\3270694618.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["SplyAct_spread"]   = df["SplyAct7d"] - df["SplyAct1d"]
C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_37944\3270694618.py:49: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"{col}_z24h"] = (df[col] - mu) / sigma.replace(0, np.nan)
C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_37944\3270694618.py:49: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"{col}_z24h"] = (df[col] - mu) / sigma.replace(0, np.nan)
C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_37944\3270694618.py:49: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f"{col}_z24h"] = (df[col] - mu) / sigma.replace(0, np.nan)
C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_37944\3270694618.py:52: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["TxCnt_deseason7d"] = df["TxCnt"] - df["TxCnt"].rolling(168, min_periods=1).mean()
C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_37944\3270694618.py:55: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="bfill", inplace=True)
C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_37944\3270694618.py:56: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill", inplace=True)

✅ On-chain features created and saved to:
   C:/Python/Template/Data Science/DATATHON_2025/data/on_chain\on_chain_btc3.csv

Optimasi Fitur

In [8]:
import pandas as pd
import numpy as np
import os

# Paths
input_path  = "C:/Python/Template/Data Science/DATATHON_2025/data/on_chain/on_chain_btc2.csv"
output_path = os.path.join(os.path.dirname(input_path), "on_chain_btc3.csv")

# Load & sort
df = (
    pd.read_csv(input_path, parse_dates=["timestamp"], index_col="timestamp")
      .sort_index()
)

# 1. Daily returns (1d = 24h)
raw_vars = [
    "HashRate","AdrActCnt","TxCnt","TxTfrValAdjUSD",
    "FeeMeanUSD","FeeTotUSD","CapMVRVCur","NVTAdj",
    "SplyAct1d","SplyAct7d","SplyAct30d","IssContPctDay",
    "FlowInExUSD","FlowOutExUSD"
]
for col in raw_vars:
    df[f"{col}_ret1d"] = df[col].pct_change(24)

# 2. Rolling std of 1d returns (volatility)
for col in raw_vars:
    df[f"{col}_std1d"] = df[f"{col}_ret1d"].rolling(24, min_periods=1).std()

# 3. Lag-1d for key predictors
for col in ["CapMVRVCur","NVTAdj","SplyAct1d"]:
    df[f"{col}_lag1d"] = df[col].shift(24)

# 4. Z-score 1d for valuation metrics
for col in ["CapMVRVCur","NVTAdj"]:
    mu    = df[col].rolling(24, min_periods=1).mean()
    sigma = df[col].rolling(24, min_periods=1).std().replace(0, np.nan)
    df[f"{col}_z1d"] = (df[col] - mu) / sigma

# 5. Composite & ratio features
df["HashRate_ratio"] = df["HashRate"] / df["HashRate30d"].replace(0, np.nan)
df["FlowNetUSD"]     = df["FlowInExUSD"] - df["FlowOutExUSD"]
df["FlowRatio"]      = df["FlowInExUSD"] / df["FlowOutExUSD"].replace(0, np.nan)
df["SplyAct_spread"] = df["SplyAct7d"] - df["SplyAct1d"]

# 6. Fill gaps
df.ffill(inplace=True)
df.bfill(inplace=True)

# 7. Save reduced-feature dataset
df.to_csv(output_path)

In [9]:
import pandas as pd

df = pd.read_csv("C:/Python/Template/Data Science/DATATHON_2025/data/on_chain/on_chain_btc3.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68421 entries, 0 to 68420
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   timestamp             68421 non-null  object
 1   HashRate              68421 non-null  float64
 2   HashRate30d           68421 non-null  float64
 3   AdrActCnt             68421 non-null  float64
 4   TxCnt                 68421 non-null  float64
 5   TxTfrValAdjUSD        68421 non-null  float64
 6   FeeMeanUSD            68421 non-null  float64
 7   FeeTotUSD             68421 non-null  float64
 8   CapMVRVCur            68421 non-null  float64
 9   NVTAdj                68421 non-null  float64
 10  SplyAct1d             68421 non-null  float64
 11  SplyAct7d             68421 non-null  float64
 12  SplyAct30d            68421 non-null  float64
 13  IssContPctDay         68421 non-null  float64
 14  FlowInExUSD           68421 non-null  float64
 15  FlowOutExUSD          68421 non-null  float64
 16  HashRate_ret1d        68421 non-null  float64
 17  AdrActCnt_ret1d       68421 non-null  float64
 18  TxCnt_ret1d           68421 non-null  float64
 19  TxTfrValAdjUSD_ret1d  68421 non-null  float64
 20  FeeMeanUSD_ret1d      68421 non-null  float64
 21  FeeTotUSD_ret1d       68421 non-null  float64
 22  CapMVRVCur_ret1d      68421 non-null  float64
 23  NVTAdj_ret1d          68421 non-null  float64
 24  SplyAct1d_ret1d       68421 non-null  float64
 25  SplyAct7d_ret1d       68421 non-null  float64
 26  SplyAct30d_ret1d      68421 non-null  float64
 27  IssContPctDay_ret1d   68421 non-null  float64
 28  FlowInExUSD_ret1d     68421 non-null  float64
 29  FlowOutExUSD_ret1d    68421 non-null  float64
 30  HashRate_std1d        68421 non-null  float64
 31  AdrActCnt_std1d       68421 non-null  float64
 32  TxCnt_std1d           68421 non-null  float64
 33  TxTfrValAdjUSD_std1d  68421 non-null  float64
 34  FeeMeanUSD_std1d      68421 non-null  float64
 35  FeeTotUSD_std1d       68421 non-null  float64
 36  CapMVRVCur_std1d      68421 non-null  float64
 37  NVTAdj_std1d          68421 non-null  float64
 38  SplyAct1d_std1d       68421 non-null  float64
 39  SplyAct7d_std1d       68421 non-null  float64
 40  SplyAct30d_std1d      68421 non-null  float64
 41  IssContPctDay_std1d   68421 non-null  float64
 42  FlowInExUSD_std1d     68421 non-null  float64
 43  FlowOutExUSD_std1d    68421 non-null  float64
 44  CapMVRVCur_lag1d      68421 non-null  float64
 45  NVTAdj_lag1d          68421 non-null  float64
 46  SplyAct1d_lag1d       68421 non-null  float64
 47  CapMVRVCur_z1d        68421 non-null  float64
 48  NVTAdj_z1d            68421 non-null  float64
 49  HashRate_ratio        68421 non-null  float64
 50  FlowNetUSD            68421 non-null  float64
 51  FlowRatio             68421 non-null  float64
 52  SplyAct_spread        68421 non-null  float64
dtypes: float64(52), object(1)
memory usage: 27.7+ MB

,timestamp,HashRate,HashRate30d,AdrActCnt,TxCnt,TxTfrValAdjUSD,FeeMeanUSD,FeeTotUSD,CapMVRVCur,NVTAdj,...,FlowOutExUSD_std1d,CapMVRVCur_lag1d,NVTAdj_lag1d,SplyAct1d_lag1d,CapMVRVCur_z1d,NVTAdj_z1d,HashRate_ratio,FlowNetUSD,FlowRatio,SplyAct_spread
0,2017-08-17 04:00:00,8.215055e+06,6.511264e+06,863099.0,348484.0,2.964948e+09,4.449495,1.550578e+06,3.143492,23.995391,...,0.0,3.143492,23.995391,654870.405965,-4.364358,-4.364358,1.261668,-1.688678e+07,0.938886,906144.863113
1,2017-08-17 05:00:00,8.215055e+06,6.511264e+06,863099.0,348484.0,2.964948e+09,4.449495,1.550578e+06,3.143492,23.995391,...,0.0,3.143492,23.995391,654870.405965,-4.364358,-4.364358,1.261668,-1.688678e+07,0.938886,906144.863113
2,2017-08-17 06:00:00,8.215055e+06,6.511264e+06,863099.0,348484.0,2.964948e+09,4.449495,1.550578e+06,3.143492,23.995391,...,0.0,3.143492,23.995391,654870.405965,-4.364358,-4.364358,1.261668,-1.688678e+07,0.938886,906144.863113
3,2017-08-17 07:00:00,8.215055e+06,6.511264e+06,863099.0,348484.0,2.964948e+09,4.449495,1.550578e+06,3.143492,23.995391,...,0.0,3.143492,23.995391,654870.405965,-4.364358,-4.364358,1.261668,-1.688678e+07,0.938886,906144.863113
4,2017-08-17 08:00:00,8.215055e+06,6.511264e+06,863099.0,348484.0,2.964948e+09,4.449495,1.550578e+06,3.143492,23.995391,...,0.0,3.143492,23.995391,654870.405965,-4.364358,-4.364358,1.261668,-1.688678e+07,0.938886,906144.863113

Macro

In [13]:
import pandas as pd

df = pd.read_csv("C:/Python/Template/Data Science/DATATHON_2025/data/macro/macro3/macro_btc2.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68485 entries, 0 to 68484
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   timestamp              68485 non-null  object
 1   10y_treasury_yield     68485 non-null  float64
 2   core_pce               68485 non-null  float64
 3   cpi_us                 68485 non-null  float64
 4   dxy_data               68485 non-null  float64
 5   estimated_global_m2    68485 non-null  float64
 6   fed_balance_sheet      68485 non-null  float64
 7   fed_funds_rate         68485 non-null  float64
 8   gold_price             68485 non-null  float64
 9   google_trends_bitcoin  68485 non-null  float64
 10  nasdaq_composite       68485 non-null  float64
 11  oil_price_brent        68485 non-null  float64
 12  oil_price_wti          68485 non-null  float64
 13  qqq_etf                68485 non-null  float64
 14  usd_ars                68485 non-null  float64
 15  usd_try                68485 non-null  float64
 16  us_m2                  68485 non-null  float64
 17  vix_index              68485 non-null  float64
dtypes: float64(17), object(1)
memory usage: 9.4+ MB

,timestamp,10y_treasury_yield,core_pce,cpi_us,dxy_data,estimated_global_m2,fed_balance_sheet,fed_funds_rate,gold_price,google_trends_bitcoin,nasdaq_composite,oil_price_brent,oil_price_wti,qqq_etf,usd_ars,usd_try,us_m2,vix_index
0,2017-08-17 04:00:00,2.19,100.118,245.183,93.620003,13674.6,4462871.0,1.16,47.9,84.0,6345.109863,50.37,47.07,136.829102,17.200001,3.51604,13674.6,15.55
1,2017-08-17 05:00:00,2.19,100.118,245.183,93.620003,13674.6,4462871.0,1.16,47.9,84.0,6345.109863,50.37,47.07,136.829102,17.200001,3.51604,13674.6,15.55
2,2017-08-17 06:00:00,2.19,100.118,245.183,93.620003,13674.6,4462871.0,1.16,47.9,84.0,6345.109863,50.37,47.07,136.829102,17.200001,3.51604,13674.6,15.55
3,2017-08-17 07:00:00,2.19,100.118,245.183,93.620003,13674.6,4462871.0,1.16,47.9,84.0,6345.109863,50.37,47.07,136.829102,17.200001,3.51604,13674.6,15.55
4,2017-08-17 08:00:00,2.19,100.118,245.183,93.620003,13674.6,4462871.0,1.16,47.9,78.0,6345.109863,50.37,47.07,136.829102,17.200001,3.51604,13674.6,15.55

In [22]:
import pandas as pd
import numpy as np
import os

# Paths
input_path  = "C:/Python/Template/Data Science/DATATHON_2025/data/macro/macro3/macro_btc2.csv"
output_path = os.path.join(os.path.dirname(input_path), "macro_btc3.csv")

# Load & sort
df = pd.read_csv(input_path, parse_dates=["timestamp"], index_col="timestamp").sort_index()

# 1. Impute missing weekends / gaps
df.ffill(inplace=True)
df.bfill(inplace=True)

# 2. Daily & weekly returns (1d = 24h, 7d = 168h)
raw_vars = df.columns.tolist()
for col in raw_vars:
    df[f"{col}_ret1d"] = df[col].pct_change(24)
    df[f"{col}_ret7d"] = df[col].pct_change(24 * 7)

# 3. Rolling volatility (std) on 1d & 7d returns
for col in raw_vars:
    df[f"{col}_vol1d"] = df[f"{col}_ret1d"].rolling(24, min_periods=1).std()
    df[f"{col}_vol7d"] = df[f"{col}_ret7d"].rolling(24 * 7, min_periods=1).std()

# 4. Lag features (1d, 7d) for key predictors
lag_vars = ["vix_index", "fed_funds_rate", "cpi_us"]
for col in lag_vars:
    df[f"{col}_lag1d"] = df[col].shift(24)
    df[f"{col}_lag7d"] = df[col].shift(24 * 7)

# 5. Z‐score 21d for Fed balance sheet (21d = 504h)
window = 24 * 21
mu    = df["fed_balance_sheet"].rolling(window, min_periods=1).mean()
sigma = df["fed_balance_sheet"].rolling(window, min_periods=1).std().replace(0, np.nan)
df["fed_balance_sheet_z21d"] = (df["fed_balance_sheet"] - mu) / sigma

# 6. Final fill for any new gaps
df.ffill(inplace=True)
df.bfill(inplace=True)

# Save reduced-feature macro dataset
df.to_csv(output_path)

In [23]:
import pandas as pd

df = pd.read_csv("C:/Python/Template/Data Science/DATATHON_2025/data/macro/macro3/macro_btc3.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68485 entries, 0 to 68484
Data columns (total 93 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   timestamp                    68485 non-null  object
 1   10y_treasury_yield           68485 non-null  float64
 2   core_pce                     68485 non-null  float64
 3   cpi_us                       68485 non-null  float64
 4   dxy_data                     68485 non-null  float64
 5   estimated_global_m2          68485 non-null  float64
 6   fed_balance_sheet            68485 non-null  float64
 7   fed_funds_rate               68485 non-null  float64
 8   gold_price                   68485 non-null  float64
 9   google_trends_bitcoin        68485 non-null  float64
 10  nasdaq_composite             68485 non-null  float64
 11  oil_price_brent              68485 non-null  float64
 12  oil_price_wti                68485 non-null  float64
 13  qqq_etf                      68485 non-null  float64
 14  usd_ars                      68485 non-null  float64
 15  usd_try                      68485 non-null  float64
 16  us_m2                        68485 non-null  float64
 17  vix_index                    68485 non-null  float64
 18  10y_treasury_yield_ret1d     68485 non-null  float64
 19  10y_treasury_yield_ret7d     68485 non-null  float64
 20  core_pce_ret1d               68485 non-null  float64
 21  core_pce_ret7d               68485 non-null  float64
 22  cpi_us_ret1d                 68485 non-null  float64
 23  cpi_us_ret7d                 68485 non-null  float64
 24  dxy_data_ret1d               68485 non-null  float64
 25  dxy_data_ret7d               68485 non-null  float64
 26  estimated_global_m2_ret1d    68485 non-null  float64
 27  estimated_global_m2_ret7d    68485 non-null  float64
 28  fed_balance_sheet_ret1d      68485 non-null  float64
 29  fed_balance_sheet_ret7d      68485 non-null  float64
 30  fed_funds_rate_ret1d         68485 non-null  float64
 31  fed_funds_rate_ret7d         68485 non-null  float64
 32  gold_price_ret1d             68485 non-null  float64
 33  gold_price_ret7d             68485 non-null  float64
 34  google_trends_bitcoin_ret1d  68485 non-null  float64
 35  google_trends_bitcoin_ret7d  68485 non-null  float64
 36  nasdaq_composite_ret1d       68485 non-null  float64
 37  nasdaq_composite_ret7d       68485 non-null  float64
 38  oil_price_brent_ret1d        68485 non-null  float64
 39  oil_price_brent_ret7d        68485 non-null  float64
 40  oil_price_wti_ret1d          68485 non-null  float64
 41  oil_price_wti_ret7d          68485 non-null  float64
 42  qqq_etf_ret1d                68485 non-null  float64
 43  qqq_etf_ret7d                68485 non-null  float64
 44  usd_ars_ret1d                68485 non-null  float64
 45  usd_ars_ret7d                68485 non-null  float64
 46  usd_try_ret1d                68485 non-null  float64
 47  usd_try_ret7d                68485 non-null  float64
 48  us_m2_ret1d                  68485 non-null  float64
 49  us_m2_ret7d                  68485 non-null  float64
 50  vix_index_ret1d              68485 non-null  float64
 51  vix_index_ret7d              68485 non-null  float64
 52  10y_treasury_yield_vol1d     68485 non-null  float64
 53  10y_treasury_yield_vol7d     68485 non-null  float64
 54  core_pce_vol1d               68485 non-null  float64
 55  core_pce_vol7d               68485 non-null  float64
 56  cpi_us_vol1d                 68485 non-null  float64
 57  cpi_us_vol7d                 68485 non-null  float64
 58  dxy_data_vol1d               68485 non-null  float64
 59  dxy_data_vol7d               68485 non-null  float64
 60  estimated_global_m2_vol1d    68485 non-null  float64
 61  estimated_global_m2_vol7d    68485 non-null  float64
 62  fed_balance_sheet_vol1d      68485 non-null  float64
 63  fed_balance_sheet_vol7d      68485 non-null  float64
 64  fed_funds_rate_vol1d         68485 non-null  float64
 65  fed_funds_rate_vol7d         68485 non-null  float64
 66  gold_price_vol1d             68485 non-null  float64
 67  gold_price_vol7d             68485 non-null  float64
 68  google_trends_bitcoin_vol1d  68485 non-null  float64
 69  google_trends_bitcoin_vol7d  68485 non-null  float64
 70  nasdaq_composite_vol1d       68485 non-null  float64
 71  nasdaq_composite_vol7d       68485 non-null  float64
 72  oil_price_brent_vol1d        68485 non-null  float64
 73  oil_price_brent_vol7d        68485 non-null  float64
 74  oil_price_wti_vol1d          68485 non-null  float64
 75  oil_price_wti_vol7d          68485 non-null  float64
 76  qqq_etf_vol1d                68485 non-null  float64
 77  qqq_etf_vol7d                68485 non-null  float64
 78  usd_ars_vol1d                68485 non-null  float64
 79  usd_ars_vol7d                68485 non-null  float64
 80  usd_try_vol1d                68485 non-null  float64
 81  usd_try_vol7d                68485 non-null  float64
 82  us_m2_vol1d                  68485 non-null  float64
 83  us_m2_vol7d                  68485 non-null  float64
 84  vix_index_vol1d              68485 non-null  float64
 85  vix_index_vol7d              68485 non-null  float64
 86  vix_index_lag1d              68485 non-null  float64
 87  vix_index_lag7d              68485 non-null  float64
 88  fed_funds_rate_lag1d         68485 non-null  float64
 89  fed_funds_rate_lag7d         68485 non-null  float64
 90  cpi_us_lag1d                 68485 non-null  float64
 91  cpi_us_lag7d                 68485 non-null  float64
 92  fed_balance_sheet_z21d       68485 non-null  float64
dtypes: float64(92), object(1)
memory usage: 48.6+ MB

,timestamp,10y_treasury_yield,core_pce,cpi_us,dxy_data,estimated_global_m2,fed_balance_sheet,fed_funds_rate,gold_price,google_trends_bitcoin,...,us_m2_vol7d,vix_index_vol1d,vix_index_vol7d,vix_index_lag1d,vix_index_lag7d,fed_funds_rate_lag1d,fed_funds_rate_lag7d,cpi_us_lag1d,cpi_us_lag7d,fed_balance_sheet_z21d
0,2017-08-17 04:00:00,2.19,100.118,245.183,93.620003,13674.6,4462871.0,1.16,47.9,84.0,...,0.0,0.0,0.0,15.55,15.55,1.16,1.16,245.183,245.183,12.688819
1,2017-08-17 05:00:00,2.19,100.118,245.183,93.620003,13674.6,4462871.0,1.16,47.9,84.0,...,0.0,0.0,0.0,15.55,15.55,1.16,1.16,245.183,245.183,12.688819
2,2017-08-17 06:00:00,2.19,100.118,245.183,93.620003,13674.6,4462871.0,1.16,47.9,84.0,...,0.0,0.0,0.0,15.55,15.55,1.16,1.16,245.183,245.183,12.688819
3,2017-08-17 07:00:00,2.19,100.118,245.183,93.620003,13674.6,4462871.0,1.16,47.9,84.0,...,0.0,0.0,0.0,15.55,15.55,1.16,1.16,245.183,245.183,12.688819
4,2017-08-17 08:00:00,2.19,100.118,245.183,93.620003,13674.6,4462871.0,1.16,47.9,78.0,...,0.0,0.0,0.0,15.55,15.55,1.16,1.16,245.183,245.183,12.688819

Penggabungan dan split data

In [55]:
import pandas as pd
import os

# Paths
off_chain_path = "C:/Python/Template/Data Science/DATATHON_2025/data/off_chain/off_chain_btc4.csv"
on_chain_path  = "C:/Python/Template/Data Science/DATATHON_2025/data/on_chain/on_chain_btc2.csv"
macro_path     = "C:/Python/Template/Data Science/DATATHON_2025/data/macro/macro3/macro_btc2.csv"
# C:\Python\Template\Data Science\DATATHON_2025\data\macro\macro3\macro_btc3.csv
output_dir     = r"C:/Python/Template/Data Science/DATATHON_2025/data/fix2"

# Ensure output directory exists
os.makedirs(output_dir, exist_ok=True)

# Load dataframes
df_off   = pd.read_csv(off_chain_path, parse_dates=["timestamp"], index_col="timestamp")
df_on    = pd.read_csv(on_chain_path,  parse_dates=["timestamp"], index_col="timestamp")
df_macro = pd.read_csv(macro_path,     parse_dates=["timestamp"], index_col="timestamp")

# Merge in order: macro, on-chain, off-chain
df_merged = df_macro.join(df_on, how="inner").join(df_off, how="inner")

# Identify macro-only columns to drop with >90% zeros
threshold = 0.30
macro_cols = df_macro.columns
zero_ratio_macro = (df_merged[macro_cols] == 0).sum() / len(df_merged)
drop_macro = zero_ratio_macro[zero_ratio_macro > threshold].index.tolist()

print("Dropped macro variables (>{:.0%} zeros):".format(threshold))
for col in drop_macro:
    print(f" - {col}")

# Drop only those macro columns
df_merged.drop(columns=drop_macro, inplace=True)

# Split into train/val/test
n = len(df_merged)
train_end = int(0.95 * n)
val_end   = int(0.98 * n)

df_train = df_merged.iloc[:train_end]
df_val   = df_merged.iloc[train_end:val_end]
df_test  = df_merged.iloc[val_end:]

# Save splits
df_train.to_csv(os.path.join(output_dir, "train.csv"), index=True)
df_val.to_csv(os.path.join(output_dir, "val.csv"),   index=True)
df_test.to_csv(os.path.join(output_dir, "test.csv"),  index=True)

Dropped macro variables (>30% zeros):

In [56]:
import pandas as pd

df = pd.read_csv("C:/Python/Template/Data Science/DATATHON_2025/data/fix2/train.csv")
df.info()
df.head()

print(df['label_1h'].describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64223 entries, 0 to 64222
Data columns (total 55 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   timestamp              64223 non-null  object
 1   10y_treasury_yield     64223 non-null  float64
 2   core_pce               64223 non-null  float64
 3   cpi_us                 64223 non-null  float64
 4   dxy_data               64223 non-null  float64
 5   estimated_global_m2    64223 non-null  float64
 6   fed_balance_sheet      64223 non-null  float64
 7   fed_funds_rate         64223 non-null  float64
 8   gold_price             64223 non-null  float64
 9   google_trends_bitcoin  64223 non-null  float64
 10  nasdaq_composite       64223 non-null  float64
 11  oil_price_brent        64223 non-null  float64
 12  oil_price_wti          64223 non-null  float64
 13  qqq_etf                64223 non-null  float64
 14  usd_ars                64223 non-null  float64
 15  usd_try                64223 non-null  float64
 16  us_m2                  64223 non-null  float64
 17  vix_index              64223 non-null  float64
 18  HashRate               64223 non-null  float64
 19  HashRate30d            64223 non-null  float64
 20  AdrActCnt              64223 non-null  float64
 21  TxCnt                  64223 non-null  float64
 22  TxTfrValAdjUSD         64223 non-null  float64
 23  FeeMeanUSD             64223 non-null  float64
 24  FeeTotUSD              64223 non-null  float64
 25  CapMVRVCur             64223 non-null  float64
 26  NVTAdj                 64223 non-null  float64
 27  SplyAct1d              64223 non-null  float64
 28  SplyAct7d              64223 non-null  float64
 29  SplyAct30d             64223 non-null  float64
 30  IssContPctDay          64223 non-null  float64
 31  FlowInExUSD            64223 non-null  float64
 32  FlowOutExUSD           64223 non-null  float64
 33  open                   64223 non-null  float64
 34  high                   64223 non-null  float64
 35  low                    64223 non-null  float64
 36  close                  64223 non-null  float64
 37  volume                 64223 non-null  float64
 38  close_time             64223 non-null  object
 39  quote_asset_volume     64223 non-null  float64
 40  num_trades             64223 non-null  int64
 41  taker_buy_base_vol     64223 non-null  float64
 42  taker_buy_quote_vol    64223 non-null  float64
 43  fundingRate            64223 non-null  float64
 44  is_futures_active      64223 non-null  int64
 45  label_1h               64223 non-null  float64
 46  label_2h               64223 non-null  float64
 47  label_3h               64223 non-null  float64
 48  label_6h               64223 non-null  float64
 49  label_12h              64223 non-null  float64
 50  label_1d               64223 non-null  float64
 51  label_3d               64223 non-null  float64
 52  label_7d               64223 non-null  float64
 53  label_15d              64223 non-null  float64
 54  label_30d              64223 non-null  float64
dtypes: float64(51), int64(2), object(2)
memory usage: 26.9+ MB
count     64223.000000
mean      26712.409535
std       21589.143422
min        2919.000000
25%        8502.115000
50%       20064.430000
75%       41770.370000
max      108258.390000
Name: label_1h, dtype: float64